/*!
 * Start Bootstrap - Full Slider (https://startbootstrap.com/template-overviews/full-slider)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full-slider/blob/master/LICENSE)
 */
.fix {
	background-color: #3FCFE8;
	height: 340px;
}
.paypalbuttonpossition{
	margin-top: 27px;
}
.frontendimage{
	width: 172px;
	margin-left: 59px;
}
.servicesimg{
	height: 100px;
	text-align: center;
}
.headingservice{
	font-size: 18px;
	color: #8203F9;
	font-weight: normal;
	text-align: center;
}
#optionsofservice{
	color: green;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
}
#pcview{
	display: block;
}
#tabtech {
	display: block;
}

#mobileviwtech {
	display: none;
}

#tab {
	display: none;
}

#mybutton {
	position: fixed;
	bottom: 261px;
    right: -34px;
	transform: rotate(7deg);
	-webkit-transform: rotate(90deg);
}

#button2 {
	position: fixed;
	bottom: 109px;
    right: -39px;
	padding: 10px 20px;
	transform: rotate(7deg);
	-webkit-transform: rotate(90deg);
	background-color: rgb(240, 71, 121);
	color: white;
	border-radius: 4px;
	border-color: #46b8da;
}


#pc {
	display: block;
}

.formargin1 {
	color: #000;
	margin-left: 54px;
}

.conadds {
	margin-left: 67px;
}

.formargin2 {
	text-decoration: none;
	font-size: 16px;
	color: #000;
	font-weight: bold;
}

.childcontact:hover, .childcontact:focus {
	transform: scale(1.2);
}

.child:hover, .child:focus {
	transform: scale(1.2);
}

.typewriter {
	animation: typing 0.7s steps(10, end);
}

@keyframes typing {from { width:0
	
}

to {
	width: 100%
}

}
#back2Top {
	width: 50px;
	line-height: 50px;
	overflow: hidden;
	z-index: 999;
	display: none;
	cursor: pointer;
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	position: fixed;
	bottom: 21px;
	left: 26px;
	background-color: #DDD;
	color: #555;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	border-radius: 190px;
	left: 26px;
}

#back2Top:hover {
	background-color: #DDF;
	color: #000;
}

.paypal {
	margin-top: 10px;
	text-align: center;
}

.possition {
	margin-top: 61px;
}

.mediaumblackheading {
	font-family: 'Segoe UI' !important;
	color: black;
	font-weight: 100 !important;
	font-size: 20px;
	line-height: 30px;
}

.contactnew {
	text-decoration: none;
	font-size: 16px;
	color: #418f9a;
}

.abew {
	color: #32C2F0;
	font-family: Times New Roman;
	padding-top: 20px;
}

.contactaddr {
	font-size: 30px;
	color: #7acdc5;
}

.adddivmainadd {
	text-align: center;
	background: #ffffff;
}

.forms {
	text-align: center;;
	text-decoration: none;
	font-size: 16px;
	color: #5e7f96;
}

.blackbigheading {
	font-family: 'Segoe UI' !important;
	font-weight: 100 !important;
	font-size: 28px;
	line-height: 38px !important;
}

.meanpsg {
	font-family: 'Segoe UI' !important;
	font-weight: 100 !important;
	font-size: 16px;
	line-height: 20px !important;
	margin: 0 0 1.421em;
}

.career {
	margin-left: 0px;
}

.pricemore {
	margin-left: 14px;
}

@keyframes fadeAndScale {from { opacity:0;
	transform: scale(.9, .9);
}

to {
	opacity: 1;
	transform: scale(1, 1);
}

}
.servicehead {
	font-size: 27px;
	color: #0eb09a;
}

.col-spaced:hover {
	-ms-transform: scale(1.02); /* IE 9 */
	-webkit-transform: scale(1.02); /* Safari 3-8 */
	transform: scale(1.02);
}

.ourser:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
}

.fadeanimation {
	animation-duration: 1.7s;
	animation-name: fadeAndScale;
	animation-timing-function: cubic-bezier(.80, .60, .70, 2.00);
}

.fadeanimationfortech {
	animation-duration: 1.2s;
	animation-name: fadeAndScale;
	animation-timing-function: cubic-bezier(.80, .60, .70, 2.00);
}

.fadeanimationfortech:hover {
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3);
}

.animation {
	animation-duration: 1.7s;
	animation-name: fadeInDown;
	animation-timing-function: cubic-bezier(.80, .60, .70, 2.00);
}

.animation.slower {
	-vendor-animation-duration: 3s;
	-vendor-animation-delay: 2s;
}

.ourser {
	font-family: 'Segoe UI' !important;
	font-weight: 100 !important;
	line-height: 41px !important;
	color: #4c5867;
	font-size: 48px;
}

.techfontheading {
	font-size: 35px;
	line-height: 45px !important;
	font-weight: 400 !important;
	color: #ca0000;
	text-align: center;
}

.techfontheading:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
}

.vr {
	color: #343434;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 17px;
}

.svr {
	margin-left: 24px;
	margin-right: 24px;
}

.ssvr {
	color: #868C86;
	padding-left: 57px;
}

.scv {
	color: #32C2F0;
	font-family: Times New Roman;
	padding-top: 20px;
}

.vpsub {
	font-family: Times New Roman;
	background-color: #32C2F0;
	font-weight: bold;
	color: #ffffff;
	height: 40px;
	width: 160px;
	border-radius: 20px;
}

.prv {
	color: #040504;
	font-family: Museo500Regular;
}

.techfontp {
	font-family: 'Segoe UI' !important;
	font-weight: 100 !important;
	font-size: 15px;
	line-height: 20px !important;
	color: #1c1b1a;
}

.inpageheading {
	font-size: 35px;
	line-height: 45px !important;
	color: #ca0000;
	font-family: 'Segoe UI' !important;
	font-weight: 100 !important;
}

.smallboldheading {
	color: #020202;
	font-family: 'Segoe UI' !important;
	font-weight: 100 !important;
	font-size: 15px;
	line-height: 20px !important;
}

}
.forbig {
	background-color: rgb(255, 255, 255);
	height: 48px;
	margin-left: 0px;
	margin-right: 0px;
	border-top: 1px solid rgb(8, 4, 4);
	border-right: 1px solid rgb(8, 4, 4);
	border-left: 1px solid rgb(8, 4, 4);
}

.arrowforbig {
	font-size: 22px;
	padding-left: 1060px;
	margin-top: -1px;
}

.arrowforbigfaq {
	font-size: 22px;
	margin-top: -1px;
	padding-left: 1080px;
}

.formargin {
	margin-top: 36px;
}

.aboutusbig {
	padding-left: 15px;
	padding-right: 15px;
	height: 300px;
}

.aboutbackgroundbig {
	height: 1000px;
}

.imagesbtntopparrow {
	height: 23px;
	width: 35px;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 15px;
	left: 10px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 190px;
	height: 100px;
	width: 159px;
}

#myBtn:hover {
	
}

.contactaddbig {
	width: 300px;
	height: 203px;
	border: solid 5px #555;
	background-color: #eed;
	box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
	border-radius: 25px;
	margin: 0px;
}

#roundedCorner {
	width: 360px;
	border: solid 5px #555;
	background-color: #eed;
	box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
	border-radius: 25px;
	margin: auto;
	height: 216px;
}

@media ( min-width : 280px) and (max-width: 320px) {
	#pcview{
	display: none;
}
	.fadeanimationfortech {
	animation-duration: 1.2s;
	animation-name: fadeAndScale;
	animation-timing-function: cubic-bezier(.80, .60, .70, 2.00);
}

.fadeanimationfortech:hover {
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3);
}
@keyframes fadeAndScale {from { opacity:0;
	transform: scale(.9, .9);
   }
to {
	opacity: 1;
	transform: scale(1, 1);
   }
}
	#tabtech {
		display: none;
	}
	#mobileviwtech {
		display: block;
	}
	#tab {
		display: none;
	}
	#pc {
		display: block;
	}
	.ourser:hover {
		-ms-transform: scale(1.02); /* IE 9 */
		-webkit-transform: scale(1.02); /* Safari 3-8 */
		transform: scale(1.02);
	}
	#back2Top {
		width: 34px;
		line-height: 34px;
		overflow: hidden;
		z-index: 999;
		display: none;
		cursor: pointer;
		-moz-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
		position: fixed;
		bottom: 11px;
		left: 12px;
		background-color: #DDD;
		color: #555;
		text-align: center;
		font-size: 24px;
		text-decoration: none;
		border-radius: 190px;
		left: 12px;
	}
	.childcontact:hover, .childcontact:focus {
		transform: scale(0.9);
	}
	#back2Top:hover {
		background-color: #DDF;
		color: #000;
	}
	.formargin {
		margin-top: 40px;
	}
	.navbar {
		position: relative;
		min-height: 40px;
		margin-bottom: 0px;
		border: 1px solid transparent;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	.aboutbackgroundsmall {
		height: 1000px;
	}
	#roundedCorner {
		width: auto;
		border: solid 5px #555;
		background-color: #eed;
		box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		border-radius: 25px;
		margin: auto;
		padding: 0px;
		height: auto;
	}
	.formargin1 {
		color: #000;
		margin-left: 50px;
		font-size: 19px;
	}
	.formargin2 {
		text-decoration: none;
		font-size: 14px;
		color: #000;
		font-weight: bold;
	}
	.small {
		font-size: 9px;
	}
	#myBtn {
		display: none;
		position: fixed;
		bottom: 0px;
		left: -15px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 190px;
		height: 70px;
		width: 100px;
	}
}
/* @media ( min-width : 376px) and (max-width: 532px) {
	#roundedCorner {
		width: 353px;
		
		border: solid 5px #555;
		background-color: #eed;
		box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		border-radius: 25px;
		margin: 10px;
		padding:40px;
				height: 203px;
	}
} */
/* @media ( min-width : 522px) and (max-width: 998px) {
	#roundedCorner {
		width: auto;
		border: solid 5px #555;
		background-color: #eed;
		box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		border-radius: 25px;
		margin: auto;
		height: auto;
	}
} */
@media ( min-width : 320px) and (max-width: 480px) {
	#pcview{
	display: none;
}
	.fadeanimationfortech {
	animation-duration: 1.2s;
	animation-name: fadeAndScale;
	animation-timing-function: cubic-bezier(.80, .60, .70, 2.00);
}

.fadeanimationfortech:hover {
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3);
}

	#tabtech {
		display: none;
	}
	#mobileviwtech {
		display: block;
	}
	.formargin1 {
		color: #000;
		margin-left: 49px;
		font-size: 26px;
	}
	#tab {
		display: none;
	}
	#pc {
		display: block;
	}
	.ourser:hover {
		-ms-transform: scale(1.04); /* IE 9 */
		-webkit-transform: scale(1.04); /* Safari 3-8 */
		transform: scale(1.04);
	}
	.child:hover, .child:focus {
		transform: scale(0.9);
	}
	.childcontact:hover, .childcontact:focus {
		transform: scale(0.9);
	}
	#back2Top {
		width: 34px;
		line-height: 34px;
		overflow: hidden;
		z-index: 999;
		display: none;
		cursor: pointer;
		-moz-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
		position: fixed;
		bottom: 11px;
		left: 12px;
		background-color: #DDD;
		color: #555;
		text-align: center;
		font-size: 24px;
		text-decoration: none;
		border-radius: 190px;
		left: 12px;
	}
	#back2Top:hover {
		background-color: #DDF;
		color: #000;
	}
	.formargin {
		margin-top: 40px;
	}
	.possition {
		margin-top: 16px;
	}
	.bigmobile {
		font-size: 12px;
	}
	#roundedCorner {
		width: 291px;;
		border: solid 5px #555;
		background-color: #eed;
		box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		border-radius: 25px;
		margin: auto;
		height: auto;
	}
	.contactadd {
		background-color: #fffff;
		height: 228px;
		border-top: 2px solid rgb(8, 4, 4);
		border-bottom: 4px solid rgb(8, 4, 4);
		border-right: 4px solid rgb(8, 4, 4);
		border-left: 2px solid rgb(8, 4, 4);
		border-radius: 20px;
		width: 267px;
	}
	#myBtn {
		display: none;
		position: fixed;
		bottom: 0px;
		left: -15px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 190px;
		height: 70px;
		width: 100px;
	}
	.arrowsize {
		padding-left: 239px;
	}
	.arrowsizefaq {
		padding-left: 257px;
	}
	.quediv {
		height: 70px;
	}
	.mobilesize {
		margin: 3px;
	}
	.aboutusmall {
		height: 207px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.aboutusmall3 {
		height: 293px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.ab {
		padding-left: 68px;
	}
	.aboutusmall2 {
		height: 215px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.aboutbackgroundsmall {
		height: 821px;
	}
}
@media ( min-width : 767px) and (max-width: 990px) {
	#pcview{
	display: none;
}
.vprtab{
	 width: 220px;
	 padding-left: 0px;
	}
	.vrbcol{
	padding-left: 0px;
	}
	.prv {

    color: #040504;
    font-family: Museo500Regular;
    font-size: 12px;

   }

}
@media ( min-width : 481px) and (max-width: 767px) {
	#pcview{
	display: none;
}
	.ourser:hover {
	-ms-transform: scale(1.04); /* IE 9 */
	-webkit-transform: scale(1.04); /* Safari 3-8 */
	transform: scale(1.04);
}
	.vprtab{
	 width: 481px;
	}
	.fadeanimationfortech {
	animation-duration: 1.2s;
	animation-name: fadeAndScale;
	animation-timing-function: cubic-bezier(.80, .60, .70, 2.00);
}

.fadeanimationfortech:hover {
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3);
}

	.addressemail {
		text-align: -moz-center;
		text-align: -webkit-center;
	}
	.col-sm-4 {
		width: 100%;
	}
	#roundedCorner {
		width: 360px;
		border: solid 5px #555;
		background-color: #eed;
		box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		border-radius: 25px;
		margin: auto;
		height: 216px;
	}
	/*  #addresscorn{
        width: 353px;
		border: solid 5px #555;
		background-color: #eed;
		box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		border-radius: 25px;
		margin: auto;
		padding: 0px;
		height: 253px;
   } */
	#tabtech {
		display: block;
	}
	#mobileviwtech {
		display: none;
	}
	#pc {
		display: none;
	}
	#tab {
		display: block;
	}
	.textpos {
		text-align: center;
	}
	.fix {
		background-color: #3FCFE8;
		height: 785px;
		width: 491px;
	}
	.aboutustab {
		padding-left: 43px;
		padding-right: 15px;
		height: 197px;
		width: 480px;
	}
	.aboutustab1 {
		padding-left: 43px;
		padding-right: 15px;
		height: 300px;
		width: 479px;
	}
	.tabletview {
		margin-left: 67px;
	}
	.tabview2 {
		width: 475px;
		height: 185px;
	}
	.col-spaced:hover {
		-ms-transform: scale(1.02); /* IE 9 */
		-webkit-transform: scale(1.02); /* Safari 3-8 */
		transform: scale(1.02);
	}
}

@media ( min-width : 481px) and (max-width: 574px) {
	#pcview{
	display: none;
}
	.fadeanimationfortech {
	animation-duration: 1.2s;
	animation-name: fadeAndScale;
	animation-timing-function: cubic-bezier(.80, .60, .70, 2.00);
}

.fadeanimationfortech:hover {
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3);
}

	#tabtech {
		display: block;
	}
	#mobileviwtech {
		display: none;
	}
	.form-control {
		display: block;
		width: 74%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
			ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
			.15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
	.subtab1 {
		margin-left: -78px;
	}
	.aboutustab {
		height: 197px;
		width: 434px;
	}
	#roundedCorner {
		width: 360px;
		border: solid 5px #555;
		background-color: #eed;
		box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		-o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.6);
		border-radius: 25px;
		margin: auto;
		height: 216px;
	}
	.col-sm-4 {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	#pcview{
	display: none;
}
	.enquirysize {
		width: 300px;
		margin-left: 81px;
	}
	.subcar {
		width: 150px;
		margin-bottom: 30px;
		margin-left: 39px;
	}
}

.feedbacksize {
	width: 304px;
	margin-left: 79px;
}

.submitbtn {
	margin-left: 30px;
}

.careersmallsize {
	padding-left: 0px;
}

}
.setsubmit {
	width: 150px;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: 250px;
}

.btncr {
	border-radius: 25px;
	margin-left: 10px;
	background-color: #D2D7CF;
	height: 28px;
}

.btncareersub {
	color: white;
	width: 163px;
	margin-bottom: 34px;
	margin-top: 48px;
	margin-left: 311px;
	height: 48px;
}

.btnresumecareersub {
	margin-top: 48px;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.center {
	margin-top: 50px;
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
	padding: 0;
}

.arrowpos {
	padding-left: 1060px;
}

.arrowposition {
	padding-left: 1032px;
}

.modal-footer .btn-group button {
	height: 40px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: none;
	border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child>button {
	border-right: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}

.text-center {
	text-align: center;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #F5F5F5;
	border: 1px solid #CCC;
	border-radius: 4px;
}

.header {
	padding: 20px 0;
	position: relative;
	margin-bottom: 10px;
}

.header:after {
	content: "";
	display: block;
	height: 1px;
	background: #eee;
	position: absolute;
	left: 30%;
	right: 30%;
}

.header h2 {
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 0.2em;
}

.header p {
	font-size: 14px;
}

li {
	height: -50px;
}

#a-footer {
	margin: 20px 0;
}

.new-react-version {
	padding: 20px 20px;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	font-size: 14px;
	line-height: 1.7;
}

.new-react-version .react-svg-logo {
	text-align: center;
	max-width: 60px;
	margin: 20px auto;
	margin-top: 0;
}

/* Rating Star Widgets Style */
.rating-stars ul {
	list-style-type: none;
	padding: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.rating-stars ul>li.star {
	display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
	font-size: 2.5em; /* Change the size of the stars */
	color: #000; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
	color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
	color: #FF912C;
}

.modal.right .modal-dialog {
	position: fixed;
	margin-top: 100px;
	width: 380px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	height: 83%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}

/*Left*/

/*Right*/
.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 1.0s linear, right 0.9s ease-out;
	-moz-transition: opacity 1.0s linear, right 0.9s ease-out;
	-o-transition: opacity 1.0s linear, right 0.9s ease-out;
	transition: opacity 1.0s linear, right 0.9s ease-out;
}

.modal.right.fade.in .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #EEEEEE;
	background-color: #FAFAFA;
}

.feedback {
	background-color: rgb(240, 71, 121);
	color: white;
	padding: 8px 12px;
	border-radius: 4px;
	border-color: #46b8da;
}

